REACT_APP_SUPABASE_URL=https://jujllbztoornjbkkfboq.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1amxsYnp0b29ybmpia2tmYm9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NTg2OTUsImV4cCI6MjA5MzEzNDY5NX0.y6gE1y4XRUlLeQ5AUpcSW5MHiqsUMOUJY4c6a8ZgH2w